/* @CHARSET "ISO-8859-1";
#pageHeader
{
	margin-top: 1%;
	background-color:#66c2ff;
	border-radius:20px;
	width:100%;
	
}
#imageLogo
{
	height:80px;
	border-radius:20px;
}
h3
{
	font-weight: 550;
	padding-top: 5px;
	
}
#logout
{
	margin-top: 20px;
	border-radius: 15px;
	background-color: white;
}
#logoutText
{
	padding-left: 20px;
	padding-right: 20px;
	font-weight: 550;
} */